body {
  /* height: 100vh; */
  font-family: Arial, Helvetica, sans-serif;

  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */

  display: grid;
  grid-template-rows: 10vh minmax(85vh, 100%) 5vh;
}

header {
  /* height: 10vh; */
  background: goldenrod;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 100%;
  background: lightslategrey;

  display: grid;
  grid-template-rows: auto 1fr;
}

form {
  justify-self: center;
  /* background: palegreen; */

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  #search-input {
    padding: 10px 60px 10px 30px;
    font-size: 1.25rem;
    border-radius: 50px;
    border: none;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    width: clamp(min(90vw, 350px), 60vw, 400px);
  }

  #search-input:focus {
    /*todo **`` Change the color of the outline */
    /* outline: none; */
  }

  #submit-button {
    position: relative;
    right: -2px;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    padding: 10px;
    background: #1ce;
    border-radius: 50%;
    border: none;
    width: 35px;
    height: 35px;
    margin-right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 25px;
      width: 25px;
    }
  }

  #submit-button:hover {
    background: rgb(11, 149, 173);
  }
}

#welcome-wrapper {
  align-self: center;
  justify-self: center;
  width: clamp(min(90vw, 350px), 60vw, 900px);
  background: paleturquoise;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h1 {
    text-align: center;
  }
}

#list-wrapper {
  padding: 10px;

  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;

  .breed-wrapper {
    cursor: pointer;

    .breed-name {
      text-align: center;
      font-weight: bold;
      /* todo **`` Fix the sizing issue when names are too long */
      font-size: 1.25rem;
    }
  }
}

.breed-image > img {
  width: 250px;
}

.info-image > img {
  width: 250px;
}

#back-button {
  font-size: 2rem;
  color: green;
  cursor: pointer;
  justify-self: center;

  /* position: absolute; */
}

footer {
  /* height: 5vh; */
  background: salmon;
}
