:root {
  --dark-blue: #264653;
  --blue-green: #2a9d8f;
  --yellow: #e9c46a;
  --orange: #f4a261;
  --red: #e76f51;
}

body {
  /* height: 100vh; */
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */

  display: grid;
  grid-template-rows: 10vh minmax(80vh, 100%) 10vh;
}

header {
  background: var(--blue-green);

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 100%;
  background: var(--blue-green);

  display: grid;
  grid-template-rows: auto 1fr;
}

#form-back-wrapper {
  display: grid;
  gap: 10px;
}

form {
  justify-self: center;
  /* background: palegreen; */

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  #search-input {
    padding: 10px 60px 10px 30px;
    font-size: 1.25rem;
    border-radius: 50px;
    border: none;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    width: clamp(min(90vw, 350px), 60vw, 400px);
  }

  #search-input:focus {
    /*todo **`` Change the color of the outline */
    /* outline: none; */
    outline-color: var(--orange);
  }

  #submit-button {
    position: relative;
    right: -2px;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    padding: 10px;
    background: var(--orange);
    border-radius: 50%;
    border: none;
    width: 35px;
    height: 35px;
    margin-right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 25px;
      width: 25px;
    }
  }

  #submit-button:hover {
    background: var(--red);
  }
}

#welcome-wrapper {
  align-self: center;
  justify-self: center;
  width: clamp(min(90vw, 350px), 60vw, 900px);
  background: var(--orange);
  padding: 20px;
  box-shadow:
    2px 2px 10px #3339,
    10px 10px 20px #3337;
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h1 {
    text-align: center;
  }
}

#list-wrapper {
  padding: 10px;

  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;

  .breed-wrapper {
    cursor: pointer;

    display: grid;
    justify-items: center;
    grid-template-rows: auto 1fr;
    gap: 10px;

    .breed-name {
      text-align: center;
      font-weight: bold;
      font-size: 1.25rem;
    }

    .breed-image {
      display: grid;
      justify-items: center;
    }

    .breed-image > img {
      border: 10px solid #1ce;
      border-radius: 10px;
      width: max(250px, 75%);
    }
  }
}

#single-breed-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;

  #info-wrapper {
    padding-bottom: 20px;
    display: grid;
    justify-items: center;
    gap: 5px;

    > * {
      text-align: center;
    }
  }

  #image-wrapper {
    padding: 10px;

    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;

    .info-image {
      display: grid;
      justify-items: center;
    }

    .info-image > img {
      border: 10px solid #1ce;
      border-radius: 10px;
      width: max(250px, 75%);
    }
  }
}

#back-button {
  font-size: 2rem;
  color: green;
  cursor: pointer;
  justify-self: center;
}

footer {
  background: var(--red);
}
